In [1]:
import pandas as pd
from tracker_dcs_web.utils.locate import abspath_data

## Initialize header and data line

In [76]:
header = pd.read_csv(abspath_data("labview/header.txt"), sep="\t")
header

Empty DataFrame
Columns: [Times[s], Date, H:M:S, 0 (PS), 2 (PS), 3 (PS), 7 (PS), 8 (PS), 9 (PS), 10 (PS), 11 (PS), 14 (PS), 15 (PS), 20 (PS), 21 (PS), 23 (PS), 24 (PS), 28 (PS), 30 (PS), 31 (PS), 1 (2S), 26 (2S), 33 (2S), 35 (2S), 36 (2S), 37 (2S), 38 (2S), 39 (2S), 40 (2S), 41 (2S), 42 (2S), 43 (2S), 44 (2S), 45 (2S), 46 (2S), 47 (2S), 48 (2S), 49 (2S), 50 (2S), 51 (2S), 52 (2S), 53 (2S), 54 (2S), 55 (2S), 56 (2S), 57 (2S), 58 (2S), 59 (2S), 60 (2S), 63 (2S), 64 (2S), 69, 70, 117, 118, 119, 1_T [oC], 1_Igro. [%], 1_Tr [oC], 1_Tg [oC], 1_M [Mol/l], 2_T [oC], 2_Igro. [%], 2_Tr [oC], 2_Tg [oC], 2_M [Mol/l], PS [V], 2S [V], P [mbar]]
Index: []

[0 rows x 69 columns]

In [77]:
header.dtypes

Times[s]       object
Date           object
H:M:S          object
0 (PS)         object
2 (PS)         object
                ...
2_Tg [oC]      object
2_M [Mol/l]    object
PS [V]         object
2S [V]         object
P [mbar]       object
Length: 69, dtype: object

In [31]:
mline = pd.read_csv(abspath_data("labview/measure_line.txt"), sep="\t")
mline

Empty DataFrame
Columns: [3735788762, 19/05/2022, 09:06:02, 25.220262, 25.492665, 25.416732, 24.748314, 25.342578, 25.606625, 25.285917, 25.231803, 25.071761, 25.328125, 25.403072, 25.201204, 25.380334, 25.467718, 24.985025, 26.008096, 25.020815, 25.542846, 24.5814, 24.9203, 24.723423, 25.436421, 24.84001, 25.000569, 23.835666, 24.756364, 25.1043, 24.780646, 24.546905, 24.791294, 24.635567, 25.067926, 24.571301, 25.092664, 25.19197, 24.761909, 24.843554, 24.856842, 24.403449, 24.612205, 25.193757, 25.110663, 24.554697, 24.616065, 25.334414, 23.642995, 24.775131, 25.594101, 27.724789, 18.245478, 28.510299, 28.703889, 28.756511, 26.513672, 0.883696, -35.340282, -32.094082, 301.325073, 26.328125, 0.888999, -35.383133, -32.134254, 300.046326, -4.962708E-5, 0.000581, 57.425315]
Index: []

[0 rows x 69 columns]

In [36]:
with open(abspath_data("labview/measure_line.txt")) as ifile: 
    mline = ifile.read().strip().split("\t")
print(mline)

['3735788762', '19/05/2022', '09:06:02', '25.220262', '25.492665', '25.416732', '24.748314', '25.342578', '25.606625', '25.285917', '25.231803', '25.071761', '25.328125', '25.403072', '25.201204', '25.380334', '25.467718', '24.985025', '26.008096', '25.020815', '25.542846', '24.5814', '24.9203', '24.723423', '25.436421', '24.84001', '25.000569', '23.835666', '24.756364', '25.1043', '24.780646', '24.546905', '24.791294', '24.635567', '25.067926', '24.571301', '25.092664', '25.19197', '24.761909', '24.843554', '24.856842', '24.403449', '24.612205', '25.193757', '25.110663', '24.554697', '24.616065', '25.334414', '23.642995', '24.775131', '25.594101', '27.724789', '18.245478', '28.510299', '28.703889', '28.756511', '26.513672', '0.883696', '-35.340282', '-32.094082', '301.325073', '26.328125', '0.888999', '-35.383133', '-32.134254', '300.046326', '-4.962708E-5', '0.000581', '57.425315']

In [37]:
# header.loc[len(header)] = mline
# header

,Times[s],Date,H:M:S,0 (PS),2 (PS),3 (PS),7 (PS),8 (PS),9 (PS),10 (PS),...,1_Tg [oC],1_M [Mol/l],2_T [oC],2_Igro. [%],2_Tr [oC],2_Tg [oC],2_M [Mol/l],PS [V],2S [V],P [mbar]
0,3735788762,19/05/2022,09:06:02,25.220262,25.492665,25.416732,24.748314,25.342578,25.606625,25.285917,...,-32.094082,301.325073,26.328125,0.888999,-35.383133,-32.134254,300.046326,-4.962708E-5,0.000581,57.425315

In [49]:
df = pd.DataFrame(data=[mline], columns=header.columns)
df.head()

,Times[s],Date,H:M:S,0 (PS),2 (PS),3 (PS),7 (PS),8 (PS),9 (PS),10 (PS),...,1_Tg [oC],1_M [Mol/l],2_T [oC],2_Igro. [%],2_Tr [oC],2_Tg [oC],2_M [Mol/l],PS [V],2S [V],P [mbar]
0,3735788762,19/05/2022,09:06:02,25.220262,25.492665,25.416732,24.748314,25.342578,25.606625,25.285917,...,-32.094082,301.325073,26.328125,0.888999,-35.383133,-32.134254,300.046326,-4.962708E-5,0.000581,57.425315

## Test header / data inconsistencies

In [44]:
import copy
bad_mline = copy.copy(mline) 
bad_mline.pop()
len(bad_mline)

try: 
    df = pd.DataFrame(data=[bad_mline], columns=header.columns)
except ValueError as err:
    print(err)
    pass

69 columns passed, passed data had 68 columns

## Parsing

### Deal with time

In [86]:
pdf = df.copy()
# pdf["Date"] = pd.to_datetime(df["Date"], format="%d/%m/%Y")
# pdf["Time"] = pd.to_datetime(df["H:M:S"], format="%H:%M:%S")
pdf["Datetime_ns"] = pd.to_datetime(pdf["Date"] + ' ' + pdf["H:M:S"], format="%d/%m/%Y %H:%M:%S")
pdf = pdf.drop(columns=["Times[s]","Date", "H:M:S"])
pdf

,0 (PS),2 (PS),3 (PS),7 (PS),8 (PS),9 (PS),10 (PS),11 (PS),14 (PS),15 (PS),...,1_M [Mol/l],2_T [oC],2_Igro. [%],2_Tr [oC],2_Tg [oC],2_M [Mol/l],PS [V],2S [V],P [mbar],Datetime_ns
0,25.220262,25.492665,25.416732,24.748314,25.342578,25.606625,25.285917,25.231803,25.071761,25.328125,...,301.325073,26.328125,0.888999,-35.383133,-32.134254,300.046326,-4.962708E-5,0.000581,57.425315,2022-05-19 09:06:02

### Convert to numeric

In [87]:
for col in pdf.columns: 
    pdf[col] = pd.to_numeric(pdf[col])

In [97]:
print(pdf.head())

      0 (PS)     2 (PS)     3 (PS)     7 (PS)     8 (PS)     9 (PS)  \
0  25.220262  25.492665  25.416732  24.748314  25.342578  25.606625

     10 (PS)    11 (PS)    14 (PS)    15 (PS)  ...  1_M [Mol/l]   2_T [oC]  \
0  25.285917  25.231803  25.071761  25.328125  ...   301.325073  26.328125

   2_Igro. [%]  2_Tr [oC]  2_Tg [oC]  2_M [Mol/l]   PS [V]    2S [V]  \
0     0.888999 -35.383133 -32.134254   300.046326 -0.00005  0.000581

    P [mbar]          Datetime_ns
0  57.425315  1652951162000000000

[1 rows x 67 columns]

### To json

In [94]:
pdf.to_dict(orient="records")

[{'0 (PS)': 25.220262,
  '2 (PS)': 25.492665,
  '3 (PS)': 25.416732,
  '7 (PS)': 24.748314,
  '8 (PS)': 25.342578,
  '9 (PS)': 25.606625,
  '10 (PS)': 25.285917,
  '11 (PS)': 25.231803,
  '14 (PS)': 25.071761,
  '15 (PS)': 25.328125,
  '20 (PS)': 25.403072,
  '21 (PS)': 25.201204,
  '23 (PS)': 25.380334,
  '24 (PS)': 25.467718,
  '28 (PS)': 24.985025,
  '30 (PS)': 26.008096,
  '31 (PS)': 25.020815,
  '1 (2S)': 25.542846,
  '26 (2S)': 24.5814,
  '33 (2S)': 24.9203,
  '35 (2S)': 24.723423,
  '36 (2S)': 25.436421,
  '37 (2S)': 24.84001,
  '38 (2S)': 25.000569,
  '39 (2S)': 23.835666,
  '40 (2S)': 24.756364,
  '41 (2S)': 25.1043,
  '42 (2S)': 24.780646,
  '43 (2S)': 24.546905,
  '44 (2S)': 24.791294,
  '45 (2S)': 24.635567,
  '46 (2S)': 25.067926,
  '47 (2S)': 24.571301,
  '48 (2S)': 25.092664,
  '49 (2S)': 25.19197,
  '50 (2S)': 24.761909,
  '51 (2S)': 24.843554,
  '52 (2S)': 24.856842,
  '53 (2S)': 24.403449,
  '54 (2S)': 24.612205,
  '55 (2S)': 25.193757,
  '56 (2S)': 25.110663,
  '57 (2S)': 24.554697,
  '58 (2S)': 24.616065,
  '59 (2S)': 25.334414,
  '60 (2S)': 23.642995,
  '63 (2S)': 24.775131,
  '64 (2S)': 25.594101,
  '69': 27.724789,
  '70': 18.245478,
  '117': 28.510299,
  '118': 28.703889,
  '119': 28.756511,
  '1_T [oC]': 26.513672,
  '1_Igro. [%]': 0.883696,
  '1_Tr [oC]': -35.340282,
  '1_Tg [oC]': -32.094082,
  '1_M [Mol/l]': 301.325073,
  '2_T [oC]': 26.328125,
  '2_Igro. [%]': 0.888999,
  '2_Tr [oC]': -35.383133,
  '2_Tg [oC]': -32.134254,
  '2_M [Mol/l]': 300.046326,
  'PS [V]': -4.962708e-05,
  '2S [V]': 0.000581,
  'P [mbar]': 57.425315,
  'Datetime_ns': 1652951162000000000}]